/* 
	red = c60c30
	blue = 003478
	white = ffffff
	black = 000000
*/



html {
	-webkit-font-smoothing: antialiased;
	height: 100%;
	box-sizing: border-box;
}

* {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

*, *:before, *:after {
	box-sizing:inherit;
}

img {
margin-bottom: inherit;
max-width: inherit;
height: auto;
}

@font-face {
  font-family: 'entypo-social';

  src: url('../fonts/entypo-social.eot');
  src: url('../fonts/entypo-social.eot?#iefix') format('embedded-opentype'), url('../fonts/entypo-social.woff') format('woff'), url('../fonts/entypo-social.ttf') format('truetype'), url('../fonts/entypo-social.svg#entypo-social') format('svg');
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
  }
  .clearfix:after {
    clear: both;
  }


.btn--red {
	background-color: #c60c30;
	color: #fff;
}
.btn--blue {
	background-color: #003478;
	color: #fff;
}

.form__label {
  display: block;
  margin-bottom: 0.625em; }
.form__input {
  font-size: 1.125em;
  margin-bottom: 1.11111em;
  margin-right: 1.111111em;
  border-radius: 0;
  font-weight: 300; 
  border: .3em solid #003478;
	padding: .5em;
	background-color: #fff;
	color: #333;
	line-height: 4em;
	font-family: 'Comic Sans MS';
}
  .form__input:focus {
    border-color: #c60c30;
}
.form__btn {
	margin-left: 0 !important;
  	background: #c60c30;
  	border-radius: 0; 
  	border: 4px solid #c60c30;
  	line-height: 4em;
}


body {
	bbackground-image: url(../img/hangul-test.png); 
	height: 100%;
	color: #000;
	font-size: 14px;
	line-height: 26px;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}

iframe {
	width:100%;
	max-width: 100%;
	border:0;
}
hr {
	margin:20px 0;
	border-top: 1px dotted #333;
}

h2 > small {
	float: right;
}
#map {
	width: 100%;
	min-height: 200px;
	margin: 0 0 4% 0;
}


[data-icon]:before {
          font-family: 'entypo-social'; /* BYO icon font, mapped smartly */
          content: attr(data-icon);
          speak: none; /* Not to be trusted, but hey. */
          font-size: 1em ;
 		  line-height: 1em;
		  vertical-align: top;
		}
.navbar, .nav {
	margin-top: 0;
	margin-bottom: 0;
}
.navbar {
	padding:15px 0;
}
span#toggle {
	margin-left: 15px;
}
#site-header {
	width:100%;
	position: fixed;
	z-index: 9999;
	top: 0;
	margin: 0 0 1em 0;
}

#main-navigation {
	background-color: #fff;
}
#main-navigation .social-menu {
	display: none;
}
.social-menu {
	display: block;
	text-align: right;

}
.social-menu a {
	display: inline-block;
	color: #fff;
	text-shadow: 1px 2px 0px #333;
	font-size: 5em;
	text-decoration: none;
}


.nav__item--current a, .nav__item a:hover, .nav__item a:focus {
	border-color: #c60c30;
 }

 #site-header.smaller .nav__item a {
 	color: #797e83;
 }

 #site-header.smaller .nav__item--current a, #site-header.smaller .nav__item a:hover, #site-header.smaller .nav__item a:focus {
 	color: #797e83;
 }


main {
	clear: both;
	padding: 0px;
	position: relative;
	z-index: 1;
}
.logo-container {
	background-color: #fff;
	text-align: center;
	max-height:55px;
}
.logo-container h3 {
	display: inline-block;
	line-height: 55px;
	vertical-align:top;
}
.logo-container .site-logo {
	background-color: #fff;
	background: url('../img/yinyang.svg') no-repeat; 
	-webkit-background-size: 50px;
	   -moz-background-size: 50px;
	     -o-background-size: 50px;
		    background-size: 50px;
  	width: 50px;
  	height: 50px;
  	display: inline-block;
}
#home-banner {
	background: url('../img/home-banner-cropped.png') no-repeat center center;
	background-size: 100%;
	max-height: 300px;
	min-height: 300px;
	width: 100%;
	margin-top: 47px;
}

#home-slider img {
 width: 100% !important;
 height: auto;
}

#locations {
	position: relative;
	margin-top: 50px;
}

#locations h1 {
}

#locations ul {
	list-style: none;
	padding: 0;
}

#locations ul address {
	display:inline-block;
}


#news-letter{
}


..wrapper {
	background: url('../img/yinyang.svg') no-repeat center center fixed; 
	-webkit-background-size: 700px;
	   -moz-background-size: 700px;
	     -o-background-size: 700px;
		    background-size: 700px;
}

section {
	padding-top:50px;
	padding-bottom:50px;
}
.section__blue {
	background-color: #003478;
	color:#fff;
}
	..section__blue:before {
		content: " ";
	    display:block;
	    position: relative;
		top:0px;
		left:0px;
	    width:100%;
	    height:36px;
	    background: linear-gradient(#003478 0%, transparent 0%), linear-gradient(135deg, #003478 33.33%, transparent 33.33%) 0 0%, #003478 linear-gradient(45deg, #003478 33.33%, #003478 33.33%) 0 0%;
	    background: -webkit-linear-gradient(#003478 0%, transparent 0%), -webkit-linear-gradient(135deg, #003478 33.33%, transparent 33.33%) 0 0%, #003478 -webkit-linear-gradient(45deg, #003478 33.33%, #003478 33.33%) 0 0%;
	    background: -o-linear-gradient(#003478 0%, transparent 0%), -o-linear-gradient(135deg, #003478 33.33%, transparent 33.33%) 0 0%, #003478 -o-linear-gradient(45deg, #003478 33.33%, #003478 33.33%) 0 0%;
	    background: -moz-linear-gradient(#003478 0%, transparent 0%), -moz-linear-gradient(135deg, #003478 33.33%, transparent 33.33%) 0 0%, #003478 -moz-linear-gradient(45deg, #003478 33.33%, #003478 33.33%) 0 0%;
	    background-repeat: repeat-x;
	    background-size: 0px 100%, 9px 27px, 9px 27px;
	}
	..section__blue:after {
		content: " ";
	    display:block;
	    position: relative;
		top:0px;
		left:0px;
	    width:100%;
	    height:36px;
	    background: linear-gradient(#003478 0%, transparent 0%), linear-gradient(135deg, #fff 33.33%, transparent 33.33%) 0 0%, #fff linear-gradient(45deg, #fff 33.33%, #003478 33.33%) 0 0%;
	    background: -webkit-linear-gradient(#003478 0%, transparent 0%), -webkit-linear-gradient(135deg, #fff 33.33%, transparent 33.33%) 0 0%, #fff -webkit-linear-gradient(45deg, #fff 33.33%, #003478 33.33%) 0 0%;
	    background: -o-linear-gradient(#003478 0%, transparent 0%), -o-linear-gradient(135deg, #fff 33.33%, transparent 33.33%) 0 0%, #fff -o-linear-gradient(45deg, #fff 33.33%, #003478 33.33%) 0 0%;
	    background: -moz-linear-gradient(#003478 0%, transparent 0%), -moz-linear-gradient(135deg, #fff 33.33%, transparent 33.33%) 0 0%, #fff -moz-linear-gradient(45deg, #fff 33.33%, #003478 33.33%) 0 0%;
	    background-repeat: repeat-x;
	    background-size: 0px 100%, 9px 27px, 9px 27px;
	    margin-top: 50px;
	}
	.section__blue  h1 span {
	    background: #003478;
	    padding: 0 20px;
	    position: relative;
	    color: #fff;
	    z-index: 5;
	}
	.section__blue h1:before{
	  	border-color: #fff;
	}

.section__red {
	background-color: #c60c30;
	color:#fff;
}
	..section__red:before {
		content: " ";
	    display:block;
	    position: relative;
		top:0px;left:0px;
	    width:100%;
	    height:36px;
	    background: linear-gradient(#fff 0%, transparent 0%), linear-gradient(135deg, #c60c30 33.33%, transparent 33.33%) 0 0%, #c60c30 linear-gradient(45deg, #c60c30 33.33%, #fff 33.33%) 0 0%;
	    background: -webkit-linear-gradient(#fff 0%, transparent 0%), -webkit-linear-gradient(135deg, #c60c30 33.33%, transparent 33.33%) 0 0%, #c60c30 -webkit-linear-gradient(45deg, #c60c30 33.33%, #fff 33.33%) 0 0%;
	    background: -o-linear-gradient(#fff 0%, transparent 0%), -o-linear-gradient(135deg, #c60c30 33.33%, transparent 33.33%) 0 0%, #c60c30 -o-linear-gradient(45deg, #c60c30 33.33%, #fff 33.33%) 0 0%;
	    background: -moz-linear-gradient(#fff 0%, transparent 0%), -moz-linear-gradient(135deg, #c60c30 33.33%, transparent 33.33%) 0 0%, #c60c30 -moz-linear-gradient(45deg, #c60c30 33.33%, #fff 33.33%) 0 0%;
	    background-repeat: repeat-x;
	    background-size: 0px 100%, 9px 27px, 9px 27px;
	}
	..section__red:after {
		content: " ";
	    display:block;
	    position: relative;
		top:0px;left:0px;
	    width:100%;
	    height:36px;
	    background: linear-gradient(#c60c30 0%, transparent 0%), linear-gradient(135deg, #003478 33.33%, transparent 33.33%) 0 0%, #003478 linear-gradient(45deg, #003478 33.33%, #c60c30 33.33%) 0 0%;
	    background: -webkit-linear-gradient(#c60c30 0%, transparent 0%), -webkit-linear-gradient(135deg, #003478 33.33%, transparent 33.33%) 0 0%, #003478 -webkit-linear-gradient(45deg, #003478 33.33%, #c60c30 33.33%) 0 0%;
	    background: -o-linear-gradient(#c60c30 0%, transparent 0%), -o-linear-gradient(135deg, #003478 33.33%, transparent 33.33%) 0 0%, #003478 -o-linear-gradient(45deg, #003478 33.33%, #c60c30 33.33%) 0 0%;
	    background: -moz-linear-gradient(#c60c30 0%, transparent 0%), -moz-linear-gradient(135deg, #003478 33.33%, transparent 33.33%) 0 0%, #003478 -moz-linear-gradient(45deg, #003478 33.33%, #c60c30 33.33%) 0 0%;
	    background-repeat: repeat-x;
	    background-size: 0px 100%, 9px 27px, 9px 27px;
	    margin-top: 50px;
	}
	.section__red  h1 span {
	    background: #c60c30;
	    padding: 0 20px;
	    position: relative;
	    color: #fff;
	    z-index: 5;
	}

	.section__red h1:before{
  	border-color: #fff;
  	}


#contact h2 {
	text-align: center;
}






  

h1 {
  	position: relative;
    margin-top: 50px;
    text-align: center;
  }
  
h1:before {
    content: "";
    display: block;
    border-top: dotted 1px black;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
    clear:both;
  }
  
h1 span {
    background: #fff;
    padding: 0 20px;
    position: relative;
    z-index: 5;
  }








footer, .push {
	min-height: 100px; /* '.push' must be the same height as 'footer' */
}

footer {
	background: #000;
	border-top: none;
}
#footer-navigation {
	display:inline-block;
	width: 100%;
	text-align: right;
}
#footer-navigation > a {
	color: #fff;
	vertical-align: top;
}

#footer-navigation ul {
	list-style: none;
	margin: 0;
	text-align: left;
}
#footer-navigation li {
	display: inline-block;
}
#footer-navigation .main-menu {
	display: none;
}
#footer-navigation .main-menu a {
	color: #ccc;
	font-size: 1.2em;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-style: normal;
	display: block;
	line-height: 1.5px;
	padding: 8px .5em;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
}
footer .social-menu {
	display: inline-block;
	text-align: center;
	font-size: 1em;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;

}

footer .social-menu a {
	position: relative;
	font-size: 3em;
	margin: 0;
	overflow-y: hidden; 
}

footer .copyright {
	border-top: 1px dotted #ccc;
	color: #fff;
	text-align: center;
}


/* set context width for grid */
/* context:; (width * column-count) + (column-gutter * column-count -1) */


@media screen and (min-width: 768px) {
	.nav__item a {
		color: #fff;
	}
		.nav__item--current a, .nav__item a:hover, .nav__item a:focus {
	 		border-width: 1px;
	 		color: #fff;
		}

	#site-header {
		min-height: 50px;
		height: 190px;
	}
	#site-header.smaller {
		background-color: #fff;
		height: 55px;
		box-shadow: 0 5px 20px #888;
		-webkit-transition: all 0.3s;
	    -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	    -o-transition: all 0.3s;
	    transition: all 0.3s;
	}

	.logo-container {
		display: none;
	background-color: #fff;
	text-align: left;
	max-height:55px;
	}

	.site-logo {
		background: url('../img/yinyang.svg') no-repeat; 
		-webkit-background-size: 50px;
		   -moz-background-size: 50px;
		     -o-background-size: 50px;
			    background-size: 50px;
	  	width: 50px;
	  	height: 50px;
  		display: inline-block; 
	}
		#site-header.smaller #main-navigation .social-menu {
			display: none;
			-webkit-transition: all 0.3s;
		    -moz-transition: all 0.3s;
		    -ms-transition: all 0.3s;
		    -o-transition: all 0.3s;
		    transition: all 0.3s;
		}
		#site-header.smaller .nav__item a {
		 	-webkit-transition: all 0.3s;
		    -moz-transition: all 0.3s;
		    -ms-transition: all 0.3s;
		    -o-transition: all 0.3s;
			transition: all 0.3s;
		}
		#site-header.smaller .nav__item--current a, #site-header.smaller .nav__item a:hover,  #site-header.smaller .nav__item a:focus {
		 	-webkit-transition: all 0.3s;
		    -moz-transition: all 0.3s;
		    -ms-transition: all 0.3s;
		    -o-transition: all 0.3s;
		    transition: all 0.3s;
		}
		#site-header.smaller .navbar, #site-header.smaller .nav {
			margin-top: 0;
		}

	#main-navigation {
		background-color: transparent;
	}
		.menu-header {
			text-align: right;
		}
		#main-navigation .social-menu {
			display: block;
		}


	#home-banner {
		margin-top: 0;
	}
	#footer-navigation {
		text-align: center;
	}
	#footer-navigation > a {
		display: none;
	}
	#footer-navigation .main-menu {
		display: inline-block;
	}

}



#mobile-menu {

}


.menu__section {
	margin: 20px 0;
	border-bottom:1px dotted #333;
}

.menu__section h3{
	margin: 20px 0;
	font-size: 2em;
}
.menu__item:before, .menu__item:after {
	content: "";
	display: block;
}
.menu__item:after {
	clear: both;
	margin-bottom: .5em;
}
.menu__item img {
	display: inline-block;
	float:left;
	margin-right: .5em;
}

.menu__item dt {
	font-weight: bold;
	line-height: 1.5;
}
.menu__item dd {
	margin: 0 0 1.66667em;
	font-weight: 300;
	font-size: 1.125em;
	line-height: 1.5;
}
